html, body {
  height: 100%;
}
#root{
  height: 100%;
}
.App {
  text-align: center;
}
.Flexible {
  display: flex;
  flex-direction: column;
}
.Fillable {
  flex-grow: 1;
}
.Borderless {
  margin: 0;
  padding: 0;
  border: none;
}
.ConsumeSpace {
  width: 100%;
  height: 100%;
}
.HtmlHeader {
  margin-bottom: -4px;
}